{% extends 'base.html' %}

{% block title %}
  Categories
{% endblock %}

{% block content %}
<div class="mt-28">
  <div class="sm:w-2/3 sm:mx-auto w-full ml-2 rounded-xl">
  <div class="text-xl text-green-500" id="msg">
  </div>
  <h1 class="text-4xl text-blue-200 mb-8 sm:text-center">Categories</h1>
  
  <form id="categoryForm" method="post" class="sm:flex sm:flex-col
  sm:items-center sm:justify-center px-4 mb-12">
   {% csrf_token %}
   
    <label class="text-lg text-lightCyan font-bold mb-3">New Category</label>
    <div class="flex mb-6 mt-4 space-x-4 max-w-4xl h-12 sm:mx-auto">
      <div class="h-full w-[80%]">
        <input type="text" name="category_name" id="category_name"
        class="auth-field w-full" placeholder="Eg. Documents" required>
      </div>
        <button type="submit" class="w-[20%] h-full text-darkGreyBlue
        bg-neonGreen translate-y-2 rounded-lg text-center text-lg px-4">Add</button>

      </div>
  </form>
  
   <div class="category-list" id="category-list">
   {% for category in categories %}
    <a href="{% url 'category-detail' category.id %}">
    <div class="category-box">
        <span class="span">{{ category.file_count }} Files</span>
        <h3 class="h2">{{ category.name }}</h3>
    </div>
   </a>
  {% endfor %}
  </div>
</div>
</div>

{% endblock %}


{% load static %}
{% block js %}
  <script src="{% static 'js/category.js' %}"></script>
{% endblock %}