{% extends 'base.html' %}

{% block title %}
  Categories
{% endblock %}

{% block content %}
<div class="mt-28">
  <div class="sm:w-2/3 sm:mx-auto w-96 ml-2 rounded-xl">
    <div class="w-full h-full flex flex-col sm:flex-row sm:space-x-8">
       <div class="w-[100%] sm:w-[30%] h-[35%] sm:h-full">
        {% if 'image/' in file.file_type %}
          <img class="w-full h-[50%]rounded-xl border border-lightCyan" src="{{ file.file.url }}" alt="" />
        {% elif file.file_type == 'application/pdf' %}
          <div class="rounded-xl border border-lightCyan w-full h-44 flex
           justify-center items-center py-2">
          <i class="text-6xl text-lightCyan text-center fas fa-file-pdf"></i>
           </div>
       {% elif file.file_type == 'application/zip' %}
         <div class="rounded-xl border border-lightCyan w-full h-44 flex
           justify-center items-center py-2">
          <i class="text-6xl text-lightCyan text-center fas fa-file-zipper"></i>
           </div>
        {% elif 'video/' in file.file_type %}        <div class="rounded-xl
        border border-lightCyan w-full h-44 flex
           justify-center items-center py-2">
          <i class="text-6xl text-lightCyan text-center fas fa-file-video"></i>
           </div>

        {% elif 'audio/' in file.file_type %}        <div class="rounded-xl
        border border-lightCyan w-full h-44 flex
           justify-center items-center py-2">
          <i class="text-6xl text-lightCyan text-center fas fa-file-audio"></i>
           </div>
           
        {% elif 'text/' in file.file_type %}   
          <div class="rounded-xl border border-lightCyan w-full h-44 flex
           justify-center items-center py-2">
          <i class="text-6xl text-lightCyan text-center fas fa-file-text"></i>
           </div>
        {% else %}         
          <div class="rounded-xl border border-lightCyan w-full h-44 flex
           justify-center items-center py-2">
          <i class="text-7xl text-lightCyan text-center fas fa-file"></i>
           </div>
        {% endif %}
       </div>
       <div class="w-[100%] sm:w-[70%] sm:h-full px-5 py-8 h-[75%] space-y-5">
         <h2 class="text-xl text-blue-200">File name: {{ file.file_name }}</h2>
         <p class="text-lg text-blue-200">File size: {{ file.file_size }}</p>
         <p class="text-lg text-blue-200">File type: {{ file.file_type }}</p>
         <p class="text-lg text-blue-200">File Category: {{ file.category }}</p>
         <p class="text-sm text-neonGreen">Date uploaded: {{ file.date_uploaded }}</p>
       </div>
    </div>
     
     </div>
    </div>
</div>
{% endblock %}