@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&dispaly=swap');

* {
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-size: 86.2%;
}

@layer components {
  .auth-field {
    @apply w-full h-12 mt-2 py-2 px-5 rounded-lg text-lg sm:text-2xl text-white
    border border-solid border-darkGreyBlue focus:border-neonGreen
    bg-darkGreyBlue autofill:bg-darkGreyBlue;
  }
  
    .category-box {
    @apply w-44 h-36 py-10 pl-5 m-2 bg-darkGreyBlue rounded-lg block shadow
    overflow-x-hidden overflow-hidden space-y-4;
     background-image: linear-gradient(to right, transparent , #4D70EF);
  background-size: 330px 150px;
  background-repeat: no-repeat; 
  } 
  
  .height {
    height: 60px;
    width: 80px;
  }
  
  .h2 {
    @apply text-left text-lightCyan text-lg;
  }
  
  .category-list {
    @apply w-screen mr-0;
    display: flex;
    flex-wrap: wrap;
    width: 110%;
  }
  .span {
    @apply text-sm text-neonGreen;
  }
  
  .file-box {
    @apply flex justify-around sm:w-full w-[100%] px-3 py-6 flex-col h-auto;
    background-image: linear-gradient(to right, transparent , #4D70EF);
    background-size: 700px 350px;
    background-repeat: no-repeat; 
  }
  
  .upload-box {
    @apply flex flex-col sm:w-full w-96 h-96 px-8 py-16  bg-darkGreyBlue rounded-lg mb-6;
    background-image: linear-gradient(to right, transparent , #4D70EF);
    background-size: 700px 350px;
    background-repeat: no-repeat; 
  }
  
  .preview-box {
    @apply sm:w-full h-full px-3 py-12  bg-darkGreyBlue rounded-xl w-full flex;
    background-image: linear-gradient(to right, transparent , #4D70EF);
    background-size: 700px 350px;
    background-repeat: no-repeat; 
  }
  
  .background {
    @apply bg-darkGreyBlue
    background-image: linear-gradient(to right, transparent , #4D70EF);
    background-size: 500px 200px;
    background-repeat: no-repeat; 
  }
  
  .cloud {
    @apply text-neonGreen text-center mb-4 hover:opacity-70 ;
    font-size: 10rem;
  }
  
  .nav {
    @apply fixed top-0 left-0 h-[70px] w-full flex justify-between items-center
    bg-darkBlue px-4 py-2 mb-8 z-10
  }
  
  .logo-name {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
  }
  
  .sidebar {
    @apply fixed top-0 h-screen w-[245px] pt-6 bg-darkBlue border-r
    border-r-lightCyan;
    transition: all 0.8 ease;
    z-index: 1;
  }
  
  .open  {
    left: -100%;
    transition: all 0.8 ease;
  }
  
  .nav-link {
    @apply text-2xl text-blue-200 w-full;
  }
  .nav-link:hover {
    @apply py-3 px-7 w-full border-l-4 border-l-neonGreen;
  }
  
}

#menu-icon.hidden {
  display: hidden;
}
